@charset "UTF-8";

.red {
  width: 400px;
  height: 100px;
  background-color: #f00;
}

.white {
  /* float: right; */
  margin: 20px 20px 0 0;
  display: flex;
  background-color: white;
  padding: 10px;
  gap: 10px;
}

.purple {
  width: 40px;
  height: 40px;
  background-color: #6729a0;
}

.green {
  width: 150px;
  height: 250px;
  background-color: #0a5;
}

.blue {
  width: 250px;
  height: 250px;
  background-color: #2563eb;
}

.wrapper-green-blue {
  display: flex;
}

.orange {
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid white;
  margin-top: 10px;
}

.wrapper-orange {
  margin: 40px 0 0 40px;
}

.yellow {
  width: 400px;
  height: 100px;
  background-color: #fd0;
}
