@charset "UTF-8";

.red {
  width: 400px;
  height: 100px;
  background-color: #f00;
}

.white {
  float: left;
  top: 20px;
  right: 20px;
  background-color: white;
  display: flex;
}

.purple {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #6729a0;
}

.green {
  width: 150px;
  height: 250px;
  background-color: #0a5;
}
